/* _content/app/Pages/Index.razor.rz.scp.css */
.search[b-1jlyl90bcz] {
 background-color: antiquewhite;
 justify-content:center;
}

.text[b-1jlyl90bcz] {
background-color: antiquewhite;
justify-content:center;
}

.welcomeimg[b-1jlyl90bcz] {
    background-image: url("https://lvminternshipwebsite.blob.core.windows.net/img/VAposter2.0.png");
    background-repeat: repeat;
    background-size: contain; 
    border: 4mm ridge gray;
    height: 365px
}
      
.container[b-1jlyl90bcz] {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
/* _content/app/Pages/Products.razor.rz.scp.css */
/* _content/app/Pages/Search.razor.rz.scp.css */
.foo[b-g1nc6x9p1u] {
 background-color: antiquewhite;
 display: flex;
 flex-direction: row;
 justify-content:center;
}

.search[b-g1nc6x9p1u] {
 background-color: antiquewhite;
 justify-content:center;
}

.text[b-g1nc6x9p1u] {
background-color: antiquewhite;
justify-content:center;
}

.bar[b-g1nc6x9p1u] {
 background-color: rgb(255, 255, 255);
 border: 1px solid black;
 font-size:30px;
 padding: 30px;
 margin: 10px;
 display: flex;
}

.jeb[b-g1nc6x9p1u] {
margin-left: 80px;
}

.highlight[b-g1nc6x9p1u] {
    background-color: rgb(255, 255, 255);
    border: .5px solid #000000;
    order: -1;
    height: 20px;
    size: 20px;
    font-size:30px;
    padding: 30px;
    margin: 10px;
    display: flex;
   }

.searchContainer[b-g1nc6x9p1u]{
    display: flex;
    flex-direction: column;
}
/* _content/app/Shared/MainLayout.razor.rz.scp.css */
.page[b-14g41q3j72] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-14g41q3j72] {
    flex: 1;
}

.sidebar[b-14g41q3j72] {
    background-image: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, #353535 70%);
}

.top-row[b-14g41q3j72] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-14g41q3j72]  a, .top-row .btn-link[b-14g41q3j72] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-14g41q3j72] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-14g41q3j72] {
        display: none;
    }

    .top-row.auth[b-14g41q3j72] {
        justify-content: space-between;
    }

    .top-row a[b-14g41q3j72], .top-row .btn-link[b-14g41q3j72] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-14g41q3j72] {
        flex-direction: row;
    }

    .sidebar[b-14g41q3j72] {
        width: 100px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

   

    .top-row[b-14g41q3j72] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-14g41q3j72], article[b-14g41q3j72] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/app/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-vl3c23brav] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-vl3c23brav] {
    height: 3.5rem;
    background-color: rgb(#d0f009);
}

.navbar-brand[b-vl3c23brav] {
    font-size: 1.1rem;
}

.oi[b-vl3c23brav] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.luk-item[b-vl3c23brav] {
    color: #8299e5;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    line-height: 3rem;
}
.nav-item[b-vl3c23brav] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-vl3c23brav] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-vl3c23brav] {
        padding-bottom: 1rem;
    }

    .nav-item[b-vl3c23brav]  a {
        color: rgb(gray);
        border-radius: 4px;
        height: 3rem;
        display: flex;
        justify-content: flex-start;
        align-items: left;
        line-height: 3rem;
    }

.nav-item[b-vl3c23brav]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-vl3c23brav]  a:hover {
    background-color: rgb(#a5a5a5);
    color: white;
}

.expanded[b-vl3c23brav] {
    position: absolute;
    z-index: -5;
    left: 0px;
    top: 0px;
}

.drop[b-vl3c23brav] {
    background-image: url("drip8.png");
    color: gray;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 55px;
    width: 810px;
    height: 420px;
    padding-left: 50px;
    padding-top: 70px;
}



.luknavbar[b-vl3c23brav] {
    position: absolute;
    display: flex;
    left: 0px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    }

@media (min-width: 641px) {
    .navbar-toggler[b-vl3c23brav] {
        display: none;
    }

    .collapse[b-vl3c23brav] {
        /* Never collapse the sidebar for wide screens */
        display: none;
    }
    
    .nav-scrollable[b-vl3c23brav] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
