.search {
 background-color: antiquewhite;
 justify-content:center;
}

.text {
background-color: antiquewhite;
justify-content:center;
}

.welcomeimg {
    background-image: url("https://lvminternshipwebsite.blob.core.windows.net/img/VAposter2.0.png");
    background-repeat: repeat;
    background-size: contain; 
    border: 4mm ridge gray;
    height: 365px
}
      
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}