.search {
 background-color: antiquewhite;
 justify-content:center;
}

.text {
background-color: antiquewhite;
justify-content:center;
}

.welcomeimg {
    background-image: url("https://lvminternshipwebsite.blob.core.windows.net/img/posterVA.png");
    background-repeat: no-repeat;
    background-size: contain; /* or contain, or specific values */
    height: 365px
}
      
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}