@page "/"

<PageTitle>Index</PageTitle>

<div class="welcomeimg"> Hello, world!</div>
@if (showthis) 
{
<h1>Welcome to your new app.</h1>


<SurveyPrompt Title="How is Blazor working for you?" />

}

@code {
    private bool showthis=false;
    private string? searchTerm;
    private List<string>? searchResults;

    private 
    
    bool showTitle = false;
    private void Search()
    {
        // Do the search here, and populate the searchResults list
        searchResults = new List<string>()
        {
            "Result 1",
            "Result 2",
            "Result 3"
        };
    }
}