.search {
 background-color: antiquewhite;
 justify-content:center;
}

.text {
background-color: antiquewhite;
justify-content:center;
}

.welcomeimg {
    background-image: url("/welcome.png");
    background-repeat: no-repeat;
    background-size: cover; /* or contain, or specific values */
    height: 420px
}
      
