@page "/"
@using app.Data
@using System.Net.Http;
@using System.Text.Json;

<PageTitle>Index</PageTitle>
<div class="welcomeimg"></div>

<div class="newProds">
        @if (searchResults != null && searchResults.Any())
    {
      int i=0;
      @foreach (var result in searchResults)
      {
        i++;

        <div id="Result-@i" class="indexBar">
            <p onclick="test1('result-@i')">@result.title</p>
          <img src="@result.thumbnail" height="200px"> 
            <p class="price">  @result.price</p>
          
          
        </div> 
      }
    }

</div>
@code {
    private List<SearchResult>? searchResults;

    private static HttpClient hc=new ();
    private static string  url="https://crust.azurewebsites.net/api/newprod?code=dacGBIeI_DNZTdlqfaRVXdEtkEWKgGIcAZoNqtO3YynuAzFuA0S-lQ==";

    protected async override void OnInitialized()  {
        //hc.DefaultRequestHeaders.Add("X-Functions-Key", "e9t2U6jRjIf0RgHvxHyjc7MpplZ3cxCjphoXs_0DaavqAzFuCDOTgg==");
        var request = new HttpRequestMessage(HttpMethod.Get, new Uri(url));

        var response =  hc.Send(request);
        
        if (response.IsSuccessStatusCode) {
            var content = await response.Content.ReadAsByteArrayAsync();

            string contentS = System.Text.Encoding.Default.GetString(content);
            searchResults = JsonSerializer.Deserialize<List<SearchResult>>(contentS);

//            foreach ( var s in searchResults ?? Enumerable.Empty<SearchResult>()) {
//                Console.WriteLine ( s.title );
//            }
        }
    }
}