@page "/Search"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@if (showthis) 
{
<body>

<div class="w3-container">
  <h2>Wider Text</h2>
  <p>The w3-wide class specifies a wider text.</p>
  <p class="w3-wide">The w3-wide class specifies a wider text.</p>
</div>
</body>

<h1>Welcome to your new app.</h1>


<SurveyPrompt Title="How is Blazor working for you?" />

}
<div>
    <input type="text" @bind-value="searchTerm" />
    <button @onclick="Searchit">Search</button>
    @if (searchResults != null && searchResults.Any())
    {
            @foreach (var result in searchResults)
            {
                <div class="bar">@result</div>
            }
    }
</div>

@code {
    private bool showthis=false;
    private string? searchTerm;
    private List<string>? searchResults;

    private 
    
    bool showTitle = false;
    private void Searchit()
    {
        
        searchResults = new List<string>()
        {
            "Result 1",
            "Result 2",
            "Result 3"
        };


        if (searchTerm=="ipod"){
            searchResults = new List<string>()
                    {
                        "Model 1",
                        "Model 2",
                        "Model 3"
                    };
        }
        
        // Do the search here, and populate the searchResults list
    }
}