@page "/Search"
@using app.Data
@using System.Net.Http;
@using System.Text.Json;

<PageTitle>Index</PageTitle>

<h1>Results</h1>

@if (showthis) 
{
<body>

<div class="w3-container">
  <h2>Wider Text</h2>
  <p>The w3-wide class specifies a wider text.</p>
  <p class="w3-wide">The w3-wide class specifies a wider text.</p>
</div>
</body>

<h1>Welcome to your new app.</h1>


<SurveyPrompt Title="How is Blazor working for you?" />

}
<div>
    <input type="text" @bind-value="searchTerm" />
    <button @onclick="Searchit">Search</button>
    @if (searchResults != null && searchResults.Any())
    {
            @foreach (var result in searchResults)
            {
                <div class="bar">
                <img src="@result.thumbnail" height="200px"> 
                <div class="jeb">
                <p>@result.title</p>
                <p>@result.price</p>
                <p>@result.description</p>
                </div>
                </div> 
            }
    }
</div>

@code {
    private bool showthis=false;
    private string? searchTerm;
    private List<SearchResult>? searchResults;

    private 
    
    bool showTitle = false;
    private async void Searchit()
    {
        /* searchResults = new List<SearchResult>()
        {
            new() {Title="iPod 64GB", Price="$249.99", Description="The iPod is a pocket-sized portable music-playing device produced by Apple and sold across the world. It's the best-known family of MP3 players ",Thumbnail="https://m.media-amazon.com/images/I/41+6wshUjVS._AC_UY436_FMwebp_QL65_.jpg"},
            new() {Title="iPod 128GB", Price="$299.99", Description="The iPod is a pocket-sized portable music-playing device produced by Apple and sold across the world. It's the best-known family of MP3 players ",Thumbnail="https://m.media-amazon.com/images/I/41+6wshUjVS._AC_UY436_FMwebp_QL65_.jpg"},
            new() {Title="iPod 256GB", Price="$349.99", Description="The iPod is a pocket-sized portable music-playing device produced by Apple and sold across the world. It's the best-known family of MP3 players ",Thumbnail="https://m.media-amazon.com/images/I/41+6wshUjVS._AC_UY436_FMwebp_QL65_.jpg"}
        };
         */

        HttpClient client = new();
        string  url="https://crust.azurewebsites.net/api/drp";

        client.DefaultRequestHeaders.Add("X-Functions-Key", "QsoctEMKv4g7iHTxhGsRNTxHKeP_NKv3QHeFIyZOki8FAzFu2hJtLA==");
        var request = new HttpRequestMessage(HttpMethod.Get, new Uri(url));

        var response =  client.Send(request);
        
        if (response.IsSuccessStatusCode) {
            var content = await response.Content.ReadAsByteArrayAsync();

            string contentS = System.Text.Encoding.Default.GetString(content);
Console.WriteLine ($" Got line: {contentS}");
            searchResults = JsonSerializer.Deserialize<List<SearchResult>>(contentS);

            foreach ( var s in searchResults) {
                Console.WriteLine ( s.title );
            }
        }
    }
        
    }
}