.search[b-1jlyl90bcz] {
 background-color: antiquewhite;
 justify-content:center;
}

.text[b-1jlyl90bcz] {
background-color: antiquewhite;
justify-content:center;
}

.welcomeimg[b-1jlyl90bcz] {
    background-image: url("/welcome.png");
    background-repeat: no-repeat;
    background-size: cover; /* or contain, or specific values */
    height: 420px
}
      
