.search[b-1jlyl90bcz] {
 background-color: antiquewhite;
 justify-content:center;
}

.text[b-1jlyl90bcz] {
background-color: antiquewhite;
justify-content:center;
}

.welcomeimg[b-1jlyl90bcz] {
    background-image: url("https://lvminternshipwebsite.blob.core.windows.net/img/posterVA.png");
    background-repeat: no-repeat;
    background-size: contain; /* or contain, or specific values */
    height: 365px
}
      
.container[b-1jlyl90bcz] {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}