.search[b-1jlyl90bcz] {
 background-color: antiquewhite;
 justify-content:center;
}

.text[b-1jlyl90bcz] {
background-color: antiquewhite;
justify-content:center;
}

.welcomeimg[b-1jlyl90bcz] {
    background-image: url("https://lvminternshipwebsite.blob.core.windows.net/img/VAposter2.0.png");
    background-repeat: repeat;
    background-size: contain; 
    border: 4mm ridge gray;
    height: 365px
}
      
.newProds[b-1jlyl90bcz] {
    margin-top: 50px;
    border-top: 2mm solid gray;
    display: flex;




}

.container[b-1jlyl90bcz] {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.indexBar[b-1jlyl90bcz] {
    background-color: white;
    border: 1px solid black;
    font-size:30px;
    padding: 30px;
    margin: 10px;
    display: flex;
   }
   