.foo[b-g1nc6x9p1u] {
 background-color: antiquewhite;
 display: flex;
 flex-direction: row;
 justify-content:center;
}

.search[b-g1nc6x9p1u] {
 background-color: antiquewhite;
 justify-content:center;
}

.text[b-g1nc6x9p1u] {
background-color: antiquewhite;
justify-content:center;
}

.bar[b-g1nc6x9p1u] {
 background-color: white;
 border: 1px solid black;
 font-size:30px;
 padding: 30px;
 margin: 10px;
 display: flex;
}

.jeb[b-g1nc6x9p1u] {
margin-left: 80px;
}

.highlight[b-g1nc6x9p1u] {
    background-color: rgb(255, 255, 255);
    border: .5px solid #000000;
    order: -1;
    height: 20px;
    size: 20px;
    font-size:30px;
    padding: 30px;
    margin: 10px;
    display: flex;
   }

.searchContainer[b-g1nc6x9p1u]{
    display: flex;
    flex-direction: column;
}