@inherits LayoutComponentBase

<PageTitle>app</PageTitle>


@inject NavigationManager NavigationManager

<audio autoplay>
  <source src="NintendoMusic.mp3" type="audio/ogg">
  <source src="NintendoMusic.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<div class="page">
    <div class="sidebar">
        <a asp-page="/Search"></a>
    </div>

    <main>
        <div class="top-row px-4">
        <NavMenu/> 
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
