@using System.Net.Http;
@using System.Text.Json;

<div class="top-row ps-3 navbar navbar-dark">
    <img height="48" src= "https://lvminternshipwebsite.blob.core.windows.net/img/3LineIcon.png"/>
    <nav class="luk-item" >
        <div>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div >
            <NavLink class="nav-link" href="Products">
                <span class="oi oi-plus" aria-hidden="true"></span> Products
            </NavLink>
        </div>
        <div >
            <NavLink class="nav-link" href="News">
                <span class="oi oi-plus" aria-hidden="true"></span> News
            </NavLink>
        </div>
        <div >
            <NavLink class="nav-link" href="Search">
                <span class="oi bi:search" aria-hidden="true"></span> Search
            </NavLink>
        </div>
        <div >
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
    <div class="container-fluid">
        <a class="navbar-brand" href="">app</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
</div>

@code {
    private bool collapseNavMenu = true;
    private List<string>? categories;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


    private async void Searchit()
    {
        HttpClient client = new();
        string  url=$"https://crust.azurewebsites.net/api/categories";

        client.DefaultRequestHeaders.Add("X-Functions-Key", "QsoctEMKv4g7iHTxhGsRNTxHKeP_NKv3QHeFIyZOki8FAzFu2hJtLA==");
        var request = new HttpRequestMessage(HttpMethod.Get, new Uri(url));

        var response =  client.Send(request);        
        if (response.IsSuccessStatusCode) {
            var content = await response.Content.ReadAsByteArrayAsync();

            string contentS = System.Text.Encoding.Default.GetString(content);
            categories = JsonSerializer.Deserialize<List<String>>(contentS);
        }
    }
}
